<div class="contenedor-contenido">
  <h2>COMUNICACIÓN CON BACKEND</h2>
  <p>Para poder comunicarnos con un servidor Angular proporciona el servicio HttpClient</p>
  <h3>Paso 1: Proporcionar HttpClient mediante inyección de dependencia</h3>
  <p><span class="bolder">HttpClient</span> se proporciona mediante la función auxiliar <span class="bolder">provideHttpClient</span>,
    que la mayoría de las aplicaciones   incluyen en los providers de aplicaciones en <span class="bolder">app.config.ts</span>.</p>
  [app.config.ts]
  <pre>
export const appConfig: ApplicationConfig = &#123;
  providers: [
    <span class="bolder orange">provideHttpClient(),</span>
  ]
&#125;;
  </pre>

  <h3>Paso 2: Crear un servicio</h3>
  <h5>Un poco de ayuda</h5>
  <code>ng generate service --help</code>
  <h5>Mostrar sin escribir</h5>
  <code>ng generate service UserService --dry-run</code>
  <h5>Crear el servicio</h5>
  <code>ng generate service UserService</code>
  <h5>El servicio generado</h5>
  <pre>
&#64;Injectable(&#123;providedIn: 'root'&#125;)
  export class UserService &#123;
&#125;
  </pre>
  <div>
    <small><span  class="bolder">&#64;Injectable</span> Este decorador le notifica al sistema de intección de dependencia que ConfigService
    esta disponible para ser solicitada en una clase</small>
  </div>
  <div>
    <small><span class="bolder">provideIn</span> Establece el ambito en el cual el recurso estara disponible</small>
  </div>
  <div>
    <small><span class="bolder">providedIn: 'root'</span> Significa que ConfigService estara disponible en toda la aplicación</small>
  </div>
  <h2>Paso 3: Inyectar sel servicio HttpClient en el servico creado</h2>
  <p>Luego puedes inyectar el servicio HttpClient como una dependencia de tus componentes, servicios u otras clases:</p>
  [user.service.ts]
  <pre>
&#64;Injectable(&#123;providedIn: 'root'&#125;)
export class UserService &#123;
  constructor(<span class="orange bolder">private http: HttpClient</span>) &#123;&#125;
  getMovie(): Observable&#60;Movie&#62;&#123;
    return this.http.get&#60;Movie&#62;(...);
  &#125;
&#125;
  </pre>
  <h2>Paso 4: Inyectar el servicio creado en un componente</h2>
  <pre>
<span class="orange bolder">import &#123;userService&#125; from "...";</span>
&#64;Component(&#123;...&#125;)
export class FooComponent &#123;
   constructor(<span class="orange bolder">private userService: UserService</span>) &#123;&#125;
&#125;
  </pre>
  <h1>#########################################</h1>
  <h2>COMUNICACIÓN CON BACKEND</h2>
  <p>Para poder comunicarnos con un servidor Angular proporciona el servicio HttpClient</p>
  <h3>Proporcionar HttpClient mediante inyección de dependencia</h3>
  <p><span class="bolder">HttpClient</span> se proporciona mediante la función auxiliar <span class="bolder">provideHttpClient</span>,
    que la mayoría de las aplicaciones   incluyen en los providers de aplicaciones en <span class="bolder">app.config.ts</span>.</p>
  [app.config.ts]
  <pre>
export const appConfig: ApplicationConfig = &#123;
  providers: [
    <span class="bolder orange">provideHttpClient(),</span>
  ]
&#125;;
  </pre>
  <p>Luego puedes inyectar el servicio HttpClient como una dependencia de tus componentes, servicios u otras clases:</p>
  [errors.service.ts]
  <pre>
&#64;Injectable(&#123;providedIn: 'root'&#125;)
export class ConfigService &#123;
  constructor(<span class="orange bolder">private http: HttpClient</span>) &#123;&#125;
  getMovie(): Observable&#60;Movie&#62;&#123;
    return this.http.get&#60;Movie&#62;(...);
  &#125;
&#125;
  </pre>
  <h2>Configurar caracteristicas de HttpClient</h2>
  <p>
    <span class="bolder">provideHttpClient</span> acepta una lista de configuraciones de caracteristicas opcionales para
    habilitar o configurar el comportamiento de diferentes aspectos del cliente. Esta sección detalla las caracteristicas
    opcionales y sus usos.
  </p>
  <h3>withInterceptors(...)</h3>
  <p>
    <span class="bolder">withInterceptors</span> configura el conjunto de funciones interceptoras que procesarán las
    solicitudes realizadas a través de HttpClient.
  </p>
  [app.config.ts]
  <pre>
export const appConfig: ApplicationConfig = &#123;
  providers: [
    provideRouter(routes),
    provideHttpClient( <span class="bolder orange">withInterceptors([authInterceptor, logginInterceptor])</span>)
  ]
&#125;
  </pre>
  <h2>HACER SOLICITUDES</h2>
  <h3>Establecer parametros de la URL</h3>
  <h3>...</h3>
  <h3>Establecer headers de la solicitud</h3>
  <h2>MEJORES PRACTICAS</h2>
  <h2>API: HttpClient</h2>
  <p>Realiza solicitudes HTTP. Este servicio está disponible como una clase inyectable, con métodos para realizar solicitudes
    HTTP. Cada método de solicitud tiene varias firmas y el tipo de lo que se devuelve varía según la firma que se llama
    (principalmente los valores observer y responseType).</p>
  <pre>
class HttpClient &#123;
    request(...)
    delete(url: string, options: &#123;&#125;): : Observable&#60;ArrayBuffer&#62;;
    get(url: string, options: &#123;&#125;): : Observable&#60;ArrayBuffer&#62;;
    head(url: string, options: &#123;&#125;): : Observable&#60;ArrayBuffer&#62;;
    jsonp(url: string, callBack: string): : Observable&#60;Object&#62;;
    options(url: string, options: &#123;&#125;): : Observable&#60;ArrayBuffer&#62;;
    patch(url: string, options: &#123;&#125;): : Observable&#60;ArrayBuffer&#62;;
    post(url: string, options: &#123;&#125;): : Observable&#60;ArrayBuffer&#62;;
    put(url: string, options: &#123;&#125;): : Observable&#60;ArrayBuffer&#62;;
&#125;
    </pre>
  </div>
