<h1>INTERCEPTORES</h1>
<ul>
    <li>Los interceptores, permiten interceptar y manipular solicitiudes HTTP desde nuestra aplicación al servidor</li>
    <li>Los mismos interceptores tambien pueden interceptar y manipular las respuestas del servidor a nuestra aplicación.</li>
</ul>

<h2>Un poco de ayuda</h2>
<p><span class="bolder-red">ng g --help</span> </p>
<pre> ng g interceptor [name]       Creates a new, generic interceptor definition in the given project.</pre>
<h2>Creamos interceptores</h2>