.contenedor{
  padding: 15px;
}
.ejemplo-basico-interceptores{
  display: flex;
  max-width: 100%;
  flex-direction: row;
  gap: 25px;
  .intercetores{
    max-width: 60%;
    flex-shrink: 1;
    flex-grow: 1;
    img{
      width: 100%;
    }
  }
  .consola{
    max-width: 35%;
    flex-shrink: 2;
    flex-grow:1;
    overflow-x: hidden;
  }
}
