<p>dialogos works!</p>
<h2>SERVICIOS</h2>
<h3>MatDialog</h3>
<h4>Metodo open</h4>
<p>Vamos a abrir una ventana emergente que contiene el componente dado. El método recibe el componente y un objeto de configuración opcional.</p>
<pre>
  let dialogRef = dialog.open(UserProfileComponent, <span class="bolder orange">&#123;</span>
    height: '400px',
    width: '600px',
  <span class="bolder orange">&#125;</span>);
</pre>
<p>El objeto de configuracion tiene las siguientes propiedades:</p>
<table>
  <thead>
    <tr>
      <th>Propiedad</th>
      <th>Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong class="bolder">ariaDescribedBy</strong>: string | null</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">ariaLabel</strong>: string | null</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">ariaLabelledBy</strong>: string | null</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">ariaModal</strong>: boolean</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">autoFocus</strong>: AutoFocusTarget | string | boolean</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">backdropClass</strong>: string | string[]</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">closeOnNavigation</strong>: boolean</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">componentFactoryResolver</strong>: ComponentFactoryResolver</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">data</strong>: D | null</td>
      <td>Datos que se inyectan en el componente hijo.</td>
    </tr>
    <tr>
      <td><strong class="bolder">delayFocusTrap</strong>: boolean</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">direction</strong>: Direction</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">disableClose</strong>: boolean</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">enterAnimationDuration</strong>: string | number</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">exitAnimationDuration</strong>: string | number</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">hasBackdrop</strong>: boolean</td>
      <td>Si el diálogo tiene un fondo.</td>
    </tr>
    <tr>
      <td><strong class="bolder">height</strong>: string</td>
      <td>Altura del diálogo.</td>
    </tr>
    <tr>
      <td><strong class="bolder">id</strong>: string</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">injector</strong>: Injector</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">maxHeight</strong>: number | string</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">maxWidth</strong>: number | string</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">minHeight</strong>: number | string</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">minWidth</strong>: number | string</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">panelClass</strong>: string | string[]</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">position</strong>: DialogPosition</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">restoreFocus</strong>: boolean</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">role</strong>: DialogRole</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">scrollStrategy</strong>: ScrollStrategy</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">viewContainerRef</strong>: ViewContainerRef</td>
      <td></td>
    </tr>
    <tr>
      <td><strong class="bolder">width</strong>: string</td>
      <td>Ancho del diálogo.</td>
    </tr>
  </tbody>
</table>
<h2>DIRECTIVAS</h2>
<h2>CLASES</h2>
<h2>INTERFACES</h2>
<h2>ALIAS DE TIPO</h2>
<h2>CONSTANTES</h2>

