// .side-menu{
//     background-color: red;
// }
// .main-content{
//     background-color: orange;
// }
.contenedor{
    display: flex;
    flex-direction: row;
    .side-menu{
        max-width: 20%;
        flex-grow: 1;
        min-height: 100vh;
    }
    .main-content{
        max-width: 80%;
        flex-grow: 1;
    }
}
