/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
img{
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}
.bolder-command{
  font-weight: bolder;
  color: #0472a8;
}
.bolder{
  font-weight: bolder;
}
.italic{
  font-style: italic;
}
.orange{
  color: orange;
}
